.cover{
    width:80%
}
.t1{
    font-family: Bangers;
    font-size: 40px;
}
.btn{
    font-size: 30px;
    font-family: Girassol;
}
.description{
    font-size: 22px;
    font-family:'Source Code Pro';
    text-align: justify;
}
.links a:hover{
    background:#F0CBAC;
    border-radius: 20px;
  }
  

@media (max-width:577px){
    .cover{
        width:90%
    }
    .t1{
        font-size: 25px;
    }
    .btn{
        font-size: 20px;
    }
    .description{
        font-size: 15px;
        font-family:'Source Code Pro';
        text-align: inherit;
    }
}